body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:593px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:26px;
  top:794px;
  width:540px;
  height:280px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:280px;
}
#u1 {
  position:absolute;
  left:2px;
  top:132px;
  width:536px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:593px;
  height:1210px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:593px;
  height:1210px;
}
#u3 {
  position:absolute;
  left:2px;
  top:597px;
  width:589px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:26px;
  top:112px;
  width:540px;
  height:50px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:50px;
}
#u5 {
  position:absolute;
  left:2px;
  top:17px;
  width:536px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:26px;
  top:162px;
  width:540px;
  height:911px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:911px;
}
#u7 {
  position:absolute;
  left:2px;
  top:448px;
  width:536px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:206px;
  top:762px;
  width:180px;
  height:80px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:80px;
}
#u9 {
  position:absolute;
  left:2px;
  top:32px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:86px;
  top:642px;
  width:420px;
  height:70px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:70px;
}
#u11 {
  position:absolute;
  left:2px;
  top:27px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:86px;
  top:492px;
  width:417px;
  height:60px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:60px;
}
#u13 {
  position:absolute;
  left:2px;
  top:22px;
  width:413px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:246px;
  top:304px;
  width:100px;
  height:100px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u15 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:53px;
  top:176px;
  width:150px;
  height:80px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:80px;
}
#u17 {
  position:absolute;
  left:2px;
  top:32px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:456px;
  top:522px;
  width:43px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:28px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:256px;
  top:895px;
  width:81px;
  height:23px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#33FF99;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:91px;
  top:471px;
  width:408px;
  height:25px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u23 {
  position:absolute;
  left:86px;
  top:524px;
  width:370px;
  height:25px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u24 {
  position:absolute;
  left:212px;
  top:930px;
  width:60px;
  height:60px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u25 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:316px;
  top:930px;
  width:60px;
  height:60px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u27 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
