body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:593px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:26px;
  top:794px;
  width:540px;
  height:280px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:280px;
}
#u1 {
  position:absolute;
  left:2px;
  top:132px;
  width:536px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:593px;
  height:1210px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:593px;
  height:1210px;
}
#u3 {
  position:absolute;
  left:2px;
  top:597px;
  width:589px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:26px;
  top:163px;
  width:540px;
  height:911px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:911px;
}
#u5 {
  position:absolute;
  left:2px;
  top:448px;
  width:536px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:26px;
  top:112px;
  width:540px;
  height:50px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:50px;
}
#u7 {
  position:absolute;
  left:2px;
  top:17px;
  width:536px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:88px;
  top:660px;
  width:417px;
  height:60px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:60px;
}
#u9 {
  position:absolute;
  left:2px;
  top:22px;
  width:413px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:148px;
  top:730px;
  width:212px;
  height:25px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u11 {
  position:absolute;
  left:360px;
  top:730px;
  width:83px;
  height:25px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#33FF99;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u12 {
  position:absolute;
  left:88px;
  top:420px;
  width:417px;
  height:100px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:100px;
}
#u13 {
  position:absolute;
  left:2px;
  top:42px;
  width:413px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:88px;
  top:370px;
  width:417px;
  height:40px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:40px;
}
#u15 {
  position:absolute;
  left:2px;
  top:12px;
  width:413px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:88px;
  top:570px;
  width:417px;
  height:8px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:8px;
}
#u17 {
  position:absolute;
  left:2px;
  top:-4px;
  width:413px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:407px;
  top:545px;
  width:95px;
  height:25px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#33FF99;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u19 {
  position:absolute;
  left:140px;
  top:370px;
  width:362px;
  height:29px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u20 {
  position:absolute;
  left:160px;
  top:419px;
  width:353px;
  height:29px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u21 {
  position:absolute;
  left:160px;
  top:474px;
  width:300px;
  height:29px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u22 {
  position:absolute;
  left:160px;
  top:541px;
  width:290px;
  height:29px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
